@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courgette', cursive;
  line-height: 1.5;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, rgb(22, 30, 169) 99.8%);
  color: #f4f4f4;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 27px;
}

button {
  padding: 8px 22px;
  transition: 300ms ease-in-out;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
  border: 0;
  font-size: 15px;
  font-family: 'Courgette', cursive;
}

button:hover {
  background-color: rgba(68, 233, 203, 0.981);
  transform: scale(0.98);
}

#lb-main {
  height: 100%;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.structure {
  margin-top: 20px;
}

.recent-scores {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#table {
  margin: 40px 0;
  padding: 0;
  list-style: none;
  border: 2px solid rgba(68, 233, 203, 0.981);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#table li {
  text-align: start;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 0 25px;
}

#table li:nth-child(even) {
  background-color: rgba(68, 233, 203, 0.981);
  color: #000;
}

#table li:last-child {
  border-bottom-right-radius: 50px;
}

#form-section h2 {
  margin-bottom: 40px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin: 0 auto;
}

input {
  padding: 7px 10px;
  border-radius: 7px;
  outline: none;
  border: transparent;
  font-size: 17px;
  font-family: 'Courgette', cursive;
  transition: 300ms;
}

input:focus {
  transform: scale(1.1);
  border: 1px solid rgba(37, 145, 251, 0.98);
  background-color: rgba(68, 233, 203, 0.981);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#error-msg {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  display: none;
  transition: display 300ms ease-in-out 400ms;
  background-color: #f4f4f4;
  padding: 2px;
  color: red;
  border-radius: 20px;
}

#form-section button {
  align-self: flex-end;
  margin-top: 5px;
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .structure {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  #form {
    width: 70%;
    margin: 0 auto;
  }

  input {
    padding: 10px;
  }

  .recent-scores {
    gap: 20px;
  }

  #table li {
    font-size: 18px;
    height: 60px;
  }

  #error-msg {
    width: 100%;
  }
}


@media all and (min-width: 1024px) {

  button {
    font-size: 19px;
  }

  h1 {
    font-size: 75px;
  }

  h2 {
    font-size: 35px;
  }

  #table li {
    font-size: 22px;
  }

  #error-msg {
    width: 70%;
    margin: 0 auto;
  }
}