* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: #f4f4f4;
  color: #333;
}

#lb-main {
  height: 100%;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

h1 {
  font-size: 40px;
}

.structure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.recent-scores {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}